.contact-area {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact-form {
    border: 5px solid rgb(99,100,102);
    padding-top: 10px;
    padding-bottom: 370px;
}

.contact-form-2 {
    border: 5px solid rgb(99,100,102);
    padding-top: 10px;
    padding-bottom: 295px;
}

.element {
    margin: 0px;
    padding-bottom: 30px;

}

.center-item {
    display: flex;
    width: 320px;
}

.final {
    display: flex;
    justify-content: center;
}

@media screen and (min-width:700px){
    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .contact-form {
        margin-right: 10px;
    }

    .contact-form-2 {
        margin-left: 10px;
    }

}